@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital@0;1&display=swap');

// temporary fix for scss implementing it's own min and max functions.
// https://github.com/sass/sass/issues/2378
@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}

@function min($numbers...){
  @return m#{i}n(#{$numbers});
}

* {box-sizing: border-box;}

:root {
  font-size: min(18px,max(14px,calc(0.55vw + 5px)));
}

body {
  font-size: 1rem;
  margin:0;
  font-family: 'IBM Plex Mono', monospace;
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid black;

  &:hover {
    // font-weight: bold;
    color: #0702F8;
    border-color: #0702F8;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  font-size: inherit;
}

h1 {
  font-size: 1.2rem;
}

h2 {
  font-size: 1.1rem;
  text-align: center;
  margin-bottom: 10vh;
}

h3 { 
  font-size: inherit;
  margin: 0;
  border-bottom: 1px solid black
  // text-decoration: underline;
}

h2.contact {
  margin-top: 18vh;
  margin-bottom: 10vh;
}

.header {
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .spacer {
    width: 10vw;
  }

  .info {
    text-align: center;
    font-size: 1.2rem;

    >* {
      margin: 3rem 0;
    }
  }
}

.window {
  overflow: hidden;
  z-index: 2;
  position: relative;
  height: 44vh;
  width: 35vh;
  max-width: 90vw;

  .top, .bot {
    position: absolute!important;
    height: 100%;
    width: 100%;
    left: 0;
    bottom: 0;
    transition: transform .1s linear;
    will-change: transform;
  }
 
  .bot {
    transform: translateY(var(--tx)) scale(1.2);
  }
  
  .top {
    transform: translateY(var(--tx)) scale(1.2);
  } 
}

.about {
  margin: 5vh auto 30vh auto;

  max-width: 800px;
}



.projects {
  max-width: 1125px;
  padding: 1rem;
  margin: 0 auto;
  overflow: hidden;

  .project {
    display: flex;
    &:not(:last-child) {
      margin-bottom: 100px;
    }

    &__thumbnail {
      overflow: hidden;
      margin-right: 3vw;
      flex: 1;
    }

    &__details {
      align-self: stretch;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 1;
    }

    &__header {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      &__date {
        margin: 0;
      }

      &__title {
        font-size: 1.2rem;
        color: inherit;
        text-decoration: none;
      }
    }
    
    &__about {
      margin: 0;
    }

    &__stack {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        display: inline;
        font-style: italic;

        &:not(:last-child)::after {
          content: ", ";
        }
      }
    }

    &__links {
      display: flex;
      justify-content: space-between;
      margin: 0;
      padding: 0;

      li {
        list-style-type: none;
        word-wrap: none;        
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .projects {
    .project {
      flex-direction: column;
      
      &__thumbnail {
        margin: 0;
      }
  
      &__details {
        margin: 0;
        >* {
          margin-top: 2rem;
        }
      }
    }
  }

  .header {
    flex-direction: column-reverse;
    overflow: hidden;

    .info p, .info a {
      margin: 2rem 0;
    }
    
    .spacer {
      width: 0;
      height: 6vw;
    }
  }
}

nav {
  height: 3rem;
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;

  ul {
    height: 100%;
    margin: 0;
    padding:0;
    max-width: 700px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;

    li {
      list-style-type: none;
    }
  }
}

@supports (backdrop-filter: blur(10px)) {
  nav {
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(20px);
  }
}