* {
  box-sizing: border-box;
}

body {
  height: 4000px;
  margin:0;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: #45CFD7;
}

.flex {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

h1 {
  font-size: 4em;
}

.window {
  position: relative;
  height: 60vh;
  width: 50vh;
  margin: 0 auto;
  overflow: hidden;
}

.window img {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  right: -30%;
  transition: transform .02s linear;
  will-change: transform;
}

.bot {
  transform: translateY(var(--tx)) scale(1.2);
}

.top {
  transform: translateY(var(--tx)) scale(1.2);
}
