// @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital@0;1&display=swap');

// temporary fix for scss implementing it's own min and max functions.
// https://github.com/sass/sass/issues/2378
@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}

* {
  box-sizing: border-box;
}

:root {
  font-size: 14px;
}

@media (prefers-color-scheme: light) {
  body {
    --colBackground: #fffcfb;
    --colText: #222328;
    --colTextSecondary: #3a3d46;
    --colTextTertiary: #575d64;
    --colLink: #90013f;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    --colBackground: #121214;
    --colText: #eeeeee;
    --colTextSecondary: #e9e9e9;
    --colTextTertiary: #b4b4b4;
    --colLink: #f3d3c1;
  }
}

body {
  font-size: 1rem;
  margin: 0;
  font-family: "Space Mono", monospace;
  background-color: var(--colBackground);
  color: var(--colText);
  position: relative;
  transition: background-color 0.2s ease-in-out;

  --monospace: "Space Mono", monospace;
  --sansSerif: "Inter", sans-serif;

  // if dark mode
  &[data-theme="light"] {
    --colBackground: #fffcfb;
    --colText: #222328;
    --colTextSecondary: #3a3d46;
    --colTextTertiary: #575d64;
    --colLink: #90013f;
  }

  &[data-theme="dark"] {
    --colBackground: #121214;
    --colText: #eeeeee;
    --colTextSecondary: #e9e9e9;
    --colTextTertiary: #b4b4b4;
    --colLink: #f3d3c1;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    pointer-events: none;
    top: 0;
    width: 100%;
    height: 60vh;
    background: radial-gradient(
        36.48% 48.7% at 50% 50.06%,
        rgba(232, 97, 0, 0.15) 0%,
        rgba(253, 152, 0, 0) 100%
      ),
      radial-gradient(
        74.9% 100% at 75.38% 0%,
        rgba(232, 0, 167, 0.09) 0%,
        rgba(253, 152, 0, 0) 100%
      ),
      radial-gradient(
        54.38% 72.61% at 28.58% 0%,
        rgba(232, 125, 0, 0.09) 0%,
        rgba(253, 152, 0, 0) 100%
      );
  }

  &::after {
    bottom: 0;
    top: unset;
    transform: rotate(180deg);
    z-index: -1;
  }
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid var(--colText);

  &:hover {
    color: var(--colLink);
    border-color: var(--colLink);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-size: inherit;
}

h1 {
  font-size: 1.2rem;
}

h2 {
  font-size: 1.1rem;
  text-align: center;
  margin-bottom: 10vh;
}

h3 {
  font-size: inherit;
  margin: 0;
  // border-bottom: 1px solid var(--colText)
  // text-decoration: underline;
}

h2.contact {
  margin-top: 18vh;
  margin-bottom: 10vh;
}

.header {
  padding: 3rem 5vw;
  text-align: center;
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1,
  a {
    font-size: 1rem;
  }
}

// .window {
//   overflow: hidden;
//   z-index: 2;
//   position: relative;
//   height: 44vh;
//   width: 35vh;
//   max-width: 90vw;

//   &.loading > * {
//     // transition: transform .1s linear;
//     filter: blur(10px);
//     // transition: none;
//   }
//   .top,
//   .bot {
//     position: absolute !important;
//     height: 100%;
//     width: 100%;
//     left: 0;
//     bottom: 0;
//     will-change: transform;
//   }

//   .bot {
//     transform: translateY(var(--tx)) scale(1.2);
//   }

//   .top {
//     transform: translateY(var(--tx)) scale(1.2);
//   }
// }

.about {
  margin: 5vh auto 30vh auto;

  max-width: 800px;
}

.gatsby-highlight {
  margin-bottom: 1.8rem;
}

// @media screen and (max-width: 600px) {
//   .header {
//     // flex-direction: column-reverse;
//     overflow: hidden;

//     .info p,
//     .info a {
//       margin: 2rem 0;
//     }
//   }
// }
