nav {
  height: 3rem;
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100%;

  &[data-has-scrolled="true"] {
    background: var(--colBackground);
  }

  transition: background-color 0.2s ease-in-out;

  .inner {
    height: 100%;
    max-width: 700px;
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;

    a {
      text-decoration: none;
      display: flex;
      align-items: center;
      border-bottom: none;
    }

    span,
    img,
    a {
      user-select: none;
    }
  }
}

.nav__icon {
  cursor: pointer;
  background: none;
  border-radius: 0;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  align-items: center;

  img {
    height: 100%;
    width: auto;
    height: 1rem;
  }
}

@supports (backdrop-filter: blur(10px)) {
  nav {
    &[data-has-scrolled="true"] {
      background: #fffcfb7c;
      // background: none;

      [data-theme="dark"] & {
        background: hsla(0, 0%, 12%, 0.8);
      }

      backdrop-filter: blur(12px) saturate(130%);
    }
  }
}
