.article {
  max-width: 70ch;
  margin: 0 auto;
  padding: 0 1rem;

 

  header {
    margin: 5rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    h1, h2 {
      text-align: center;
      margin: 0;
    }
  
    h2 {
      color: rgb(50, 50, 50);
    }
  }

  main {
    font-family: "IBM Plex Sans", sans-serif;
  }

  p {
    font-size: 1.2rem;
    margin: 3rem 0;
    color: rgb(52, 52, 52);
    line-height: 1.7rem;
  }

  a {
    border-bottom: none;
    text-decoration: underline;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    text-align: left;
    margin: 4rem 0 0 0;
    font-size: 1.7rem;
  }

  ul, li {
    font-size: inherit;
  }

  blockquote {
    padding: 0rem 2rem;
    font-style: italic;
    text-align: center;
    margin: 4rem 0;

    p::before {
      font-size: 1.5rem;
      content: "“ ";
    }

    p::after {
      content: " ”";
      font-size: 1.5rem;
    }
  }

  sup {
    vertical-align: top;
    position: relative;
    top: -0.3em;
    
    a {
      text-decoration: none;
      color: #386D7D;
    }
  }

  :global .footnotes {
    ol {
      padding: 0;
      font-size: .9rem;
    }

    li {
      margin: 1rem 0;
    }

    p {
      display: inline;
      font-size: inherit;
    }
  }

  :global .task-list-item {
    list-style: none;
  }

  code[class*="language-"], pre[class*="language-"] {
    font-family: "IBM Plex Mono", Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: .9rem;
  }
}