.article {
  max-width: 70ch;
  margin: 0 auto;
  padding: 0 1rem;

  header {
    margin: 5rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    h1, h2 {
      text-align: center;
      margin: 0;
    }
  
    h2 {
      color: rgb(50, 50, 50);
    }
  }

  main {
    font-family: "IBM Plex Sans", sans-serif;
  }

  p {
    font-size: 1.14rem;
    margin: 3rem 0;
  }
}