.blogPreview {
  background: radial-gradient(39.42% 45.06% at 89.42% 43.14%, rgba(232, 0, 167, 0.07) 0%, rgba(253, 152, 0, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
radial-gradient(13.23% 13.48% at 17.43% 16.66%, rgba(232, 0, 167, 0.09) 0%, rgba(253, 152, 0, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
radial-gradient(21.4% 19.59% at 0% 64.83%, rgba(232, 125, 0, 0.06) 0%, rgba(253, 152, 0, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;

  h1 {
  }
}

.headline {
  font-family: var(--serif);
  text-align: center;
  font-size: 2.4rem;
  margin: 140px 0px 100px;

  // text gradient effect
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(180deg, #9b2f00 0%, #4d1700 100%);

  body[data-theme="dark"] & {
    background-image: linear-gradient(180deg, #fab8a7 0%, #ee7e59 100%);
  }
}
