.blog-article {
  width: 100%;
  margin: 0 auto;
  padding: 0 1.2rem;

  header {
    margin: 4rem auto 4rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    &.hasThumbnail {
      margin: 4rem auto 0 auto;

      .thumbnail {
        // max-width: 60rem;
        // width: 100%;
        border-radius: 5px;
        overflow: hidden;
      }

      .title {
        transform: translateY(-50%);
        padding: 2.6rem 5rem 0 5rem;
        background-color: #fffcfb3b;
        backdrop-filter: blur(14px);
        transition: transform 0.2s ease-in-out;
        will-change: transform;
        border-radius: 5px;

        [data-theme="dark"] & {
          background-color: #12121448;
        }
      }

      @media (max-width: 40rem) {
        .title {
          transform: translateY(0rem);
          padding: 2rem 2rem 3rem 2rem;
        }
      }
    }

    .title {
      max-width: 50rem;
    }

    h1,
    h2 {
      text-align: center;
      margin: 0;
    }

    h1 {
      font-size: 1.6rem;
      line-height: 1.7;
    }

    h2 {
      font-size: 1rem;
      color: var(--colTextSecondary);
      margin-bottom: 1rem;
    }
  }

  main {
    font-family: var(--sansSerif), sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    > * {
      width: 100%;
      max-width: 45rem;

      &.wide {
        max-width: 55rem;
      }

      &.wider {
        max-width: 60rem;
      }
    }

    ul {
      list-style-type: circle;
    }
  }

  p {
    font-size: 1.2rem;
    color: var(--colText);
    line-height: 1.8rem;
  }

  p,
  ul {
    margin: 0;
    margin-bottom: 1.8rem;
    line-height: 1.8rem;
  }

  a {
    border-bottom: none;
    text-decoration: underline;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    text-align: left;
    margin: 2rem 0 2rem 0;
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1.5rem;
    margin: 2.4rem 0 1.2rem 0;
    border: none;
  }

  ul,
  li {
    font-size: 1.2rem;
    word-break: break-word;
  }

  li {
    margin-bottom: 0.8rem;
  }

  figure {
    margin: 0rem 0 2.4rem 0;
  }

  figcaption {
    display: block;
    font-size: 1rem;
    margin: 0.8rem 0;
    color: var(--colTextSecondary);
    text-align: center;
  }

  p + figcaption {
    margin: -1.2rem 0 0 0;
  }

  blockquote {
    padding: 0rem 2rem;
    font-style: italic;
    text-align: center;
    margin: 4rem 0;

    p::before {
      font-size: 1.5rem;
      content: "“ ";
    }

    p::after {
      content: " ”";
      font-size: 1.5rem;
    }
  }

  sup {
    vertical-align: top;
    position: relative;
    top: -0.3em;

    a {
      text-decoration: none;
      color: #386d7d;
    }
  }

  strong {
    font-weight: 600;
  }

  input {
    font-family: inherit;
    font-size: 1.1rem;
    border: 1px solid var(--colText);
    background: none;
    color: var(--colText);
    border-radius: 5px;
    padding: 5px 7px;
  }

  label {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  code {
    font-family: var(--monospace);
  }

  :global .footnotes {
    ol {
      padding: 0;
      font-size: 0.9rem;
    }

    li {
      margin: 1rem 0;
    }

    p {
      display: inline;
      font-size: inherit;
    }
  }

  :global .task-list-item {
    list-style: none;
  }

  .token.operator,
  .token.entity,
  .token.url,
  .language-css .token.string,
  .style .token.string.token.operator {
    background: none;
  }

  code[class*="language-"],
  pre[class*="language-"] {
    font-family: var(--monospace), Consolas, Monaco, "Andale Mono",
      "Ubuntu Mono", monospace;
    font-variant-ligatures: none;
    font-size: 1rem;
    margin: 0;
    // background: #fff;
  }

  .gatsby-highlight {
    margin-bottom: 1.6rem;
    border-radius: 5px;
    // border: 1px solid black;
    overflow: hidden;
  }
}
