.wrapper {
  width: 100%;
  max-width: min(40vh, 100vw);
  aspect-ratio: 3648/5472;

  canvas {
    display: block;
    mask-image: url("/mask.svg");
    -webkit-mask-image: url("/mask.svg");
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    mask-position: 50% 50%;
    -webkit-mask-position: 50% 50%;
  }
}
