.contact {
  max-width: 700px;
  font-size: 1rem;
  margin: 0 auto;
  padding: 0 44px 1rem 44px;
  margin-bottom: 15vh;
  font-family: var(--sansSerif);

  @media (max-width: 500px) {
    padding: 1rem;
  }

  .input-wrapper {
    position: relative;
    &:not(:last-child) {
      margin: 1rem 0 2.5rem 0;
    }
  }

  body[data-theme="dark"] & {
    input,
    textarea {
      background: none;
    }
  }

  input,
  textarea {
    border: 1px solid var(--colTextTertiary);
    color: var(--colText);
    font-size: 1rem;
    width: 100%;
    padding: 0.8rem;
    font-family: inherit;
    border-radius: 5px;
  }

  label {
    font-size: 0.8rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
    user-select: none;
    pointer-events: none;
    color: var(--colTextTertiary);
    transition: transform 0.2s ease;
  }

  input:focus + label,
  textarea:focus + label,
  [data-filled="true"] {
    transform: translate(-1rem, -2.5rem);
    color: var(--colTextSecondary);
  }

  textarea {
    resize: vertical;
  }

  button {
    border: 1px solid var(--colText);
    border-radius: 5px;
    background: none;
    padding: 0.8rem;
    font-family: inherit;
    color: var(--colText);
    cursor: pointer;

    &:hover,
    &:focus {
      color: var(--colBackground);
      background-color: var(--colText);
      border-color: var(--colText);
    }

    &:active {
      color: white;
      background-color: #386d7d;
      border-color: #386d7d;
    }
  }

  form {
    position: relative;
  }

  .submitWrapper {
    display: flex;
    justify-content: flex-end;
  }
}

.checkText {
  font-family: var(--monospace);
}

.captchaWrapper {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin: 1rem 0 2.5rem 0;

  .input-wrapper {
    flex: 1 1 0;
  }
}

.submittedWrapper {
  display: flex;
  color: var(--colText);
  align-items: center;
  justify-content: center;
  pointer-events: none;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  img {
    width: 100%;
    max-width: 300px;
    border-radius: 8px;
  }
}

.showlength {
  color: #3a3a3a;
  bottom: 1rem;
  margin: 0;
  right: 1rem;
  position: absolute;
}
