.contact {
  max-width: 800px;
  font-size: 1rem;
  margin: 0 auto;
  padding: 1rem;
  margin-bottom: 15vh;

  .input-wrapper {
    position: relative;
    &:not(:last-child) {
      margin: 1rem 0 2.5rem 0;
    }
  }

  input, textarea {
    border: 1px solid #0f0f0f;
    font-size: 1rem;
    width: 100%;
    padding: .8rem;
    font-family: inherit;
  }

  label {
    font-size: 0.8rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
    user-select: none;
    pointer-events: none;
    color: #3a3a3a;
    transition: transform .2s ease;
  }
  
  input:focus + label, textarea:focus + label, .filled + label {
    transform: translate(-1rem, -2.5rem);
    color: #0f0f0f;
    [data-theme="dark"] & {
    color: var(--colText);

    }
  }

  textarea {
    resize: vertical;
  }

  button {
    border: 1px solid var(--colText);
    background: none;
    padding: .8rem;
    font-family: inherit;
    color: var(--colText);
    cursor: pointer;

    &:hover, &:focus {
      color: var(--colBackground);
      background-color: var(--colText);
      border-color: var(--colText);
    }

    &:active {
      color: white;
      background-color: #386D7D;
      border-color: #386D7D;
    }
  }
}

.red {
  border:2px solid red!important;
}

.showlength {
  color: #3a3a3a;
  bottom: 1rem;
  margin: 0;
  right: 1rem;
  position: absolute;
}
.bot {
  display: none;
}